[data-col="6"] {
  left: 1655px;
}

[data-col="5"] {
  left: 1325px;
}

[data-col="4"] {
  left: 995px;
}

[data-col="3"] {
  left: 665px;
}

[data-col="2"] {
  left: 335px;
}

[data-col="1"] {
  left: 5px;
}

[data-row="16"] {
  top: 4955px;
}

[data-row="15"] {
  top: 4625px;
}

[data-row="14"] {
  top: 4295px;
}

[data-row="13"] {
  top: 3965px;
}

[data-row="12"] {
  top: 3635px;
}

[data-row="11"] {
  top: 3305px;
}

[data-row="10"] {
  top: 2975px;
}

[data-row="9"] {
  top: 2645px;
}

[data-row="8"] {
  top: 2315px;
}

[data-row="7"] {
  top: 1985px;
}

[data-row="6"] {
  top: 1655px;
}

[data-row="5"] {
  top: 1325px;
}

[data-row="4"] {
  top: 995px;
}

[data-row="3"] {
  top: 665px;
}

[data-row="2"] {
  top: 335px;
}

[data-row="1"] {
  top: 5px;
}

[data-sizey="1"] {
  height: 320px;
}

[data-sizey="2"] {
  height: 650px;
}

[data-sizey="3"] {
  height: 980px;
}

[data-sizey="4"] {
  height: 1310px;
}

[data-sizey="5"] {
  height: 1640px;
}

[data-sizey="6"] {
  height: 1970px;
}

[data-sizey="7"] {
  height: 2300px;
}

[data-sizey="8"] {
  height: 2630px;
}

[data-sizey="9"] {
  height: 2960px;
}

[data-sizey="10"] {
  height: 3290px;
}

[data-sizey="11"] {
  height: 3620px;
}

[data-sizey="12"] {
  height: 3950px;
}

[data-sizey="13"] {
  height: 4280px;
}

[data-sizey="14"] {
  height: 4610px;
}

[data-sizey="15"] {
  height: 4940px;
}

[data-sizex="1"] {
  width: 320px;
}

[data-sizex="2"] {
  width: 650px;
}

[data-sizex="3"] {
  width: 980px;
}

[data-sizex="4"] {
  width: 1310px;
}

[data-sizex="5"] {
  width: 1640px;
}

[data-sizex="6"] {
  width: 1970px;
}

.platinum {
  background: #E5E4E2 !important;
  color: black !important;
}

.gold {
  background: gold !important;
  color: white !important;
}

.silver {
  background: silver !important;
  color: white !important;
}

.bronze {
  background: #CD7F32 !important;
  color: lightyellow !important;
}
