<!DOCTYPE html>
<html lang=en>
  <head>
    <title>
      Membership Programme Outcomes - 2016
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  </head>
  <body>

    <div class="container-fluid">
      <h2 align="center">Membership Programme Outcomes - 2016</h2>
      <hr>
      <div class="row">
        <div id="sampleArea"></div>
      </div>
    </div>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.2.js" integrity="sha256-4/zUCqiq0kqxhZIyp4G0Gk+AOtCJsY1TA00k5ClsZYE=" crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- Mustache JS-->
    <script type="text/javascript" src="/mustache.js"></script>

    <!-- Google charts JS -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        $.getJSON("https://raw.githubusercontent.com/Financial-Times/membership-platform-dashing/master/public/2016-outcomes-data.json", function(json) {

          var data = json.data;

          for(var i in json.data) {

            console.log(data[i]);

            var templateData = {
              title: data[i].title,
              id: data[i].id,
              lastUpdated: data[i].lastUpdated
            };
            var template = '<div class="col-md-4"><h4>{{title}}</h4><div id="{{id}}" style="width: 600px; height: 300px;"></div>' +
                '<p>Last updated: {{lastUpdated}}</p></div>';
            var html = Mustache.to_html(template, templateData);
            $('#sampleArea').append(html);

            var data1 = google.visualization.arrayToDataTable([
              ['Label', 'Value'],
              ['', data[i].current]
            ]);

            var options1 = {
              width: 600,
              height: 300,
              min: data[i].min,
              max: data[i].max,
              redFrom: data[i].redFrom,
              redTo: data[i].redTo,
              yellowFrom: data[i].yellowFrom,
              yellowTo: data[i].yellowTo,
              greenFrom: data[i].greenFrom,
              greenTo: data[i].greenTo,
              minorTicks: data[i].minorTicks
            };

            var chart1 = new google.visualization.Gauge(document.getElementById(data[i].id));
            chart1.draw(data1, options1);
          }
        });
      }
    </script>

  </body>
</html>