<% content_for :title do %>Availability of Membership Platform Capabilities<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://login-api-at-eu-prod.herokuapp.com/admin/healthcheck', '_blank');">
      <div data-id="login" data-view="Availability" data-title="Identity Management" data-text="Log in users to ft.com" data-moreinfo="https://login-api-at-eu-prod.herokuapp.com/admin/healthcheck"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/1965634', '_blank');">

      <div data-id="1965634" data-view="Number" data-title="Log in users to ft.com" data-moreinfo="Last 7 days" data-suffix="%"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="undefined" data-view="Availability" data-title="Identity Management" data-text="Change user credentials"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="undefined" data-view="Availability" data-title="Identity Management" data-text="Retrieve forgotten passwords"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="undefined" data-view="Availability" data-title="Identity Management" data-text="Validate user sessions"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="undefined" data-view="Availability" data-title="Access Management" data-text="Authorise content access requests"></div>
    </li>
  </ul>
</div>