<% content_for :title do %>Availability of External Services<% end %>

<div class="gridster">
  <ul>
    <!-- Zuora REST connectivity -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2277713', '_blank');">
        <div data-id="2277713" data-view="Number" data-title="Connect to Zuora REST" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <!-- Zuora SOAP connectivity -->
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2277708', '_blank');">
        <div data-id="2277708" data-view="Number" data-title="Connect to Zuora SOAP" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
    <!-- Gocardless connectivity -->
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('http://stats.pingdom.com/56q7ie6hfq8y/2278338', '_blank');">
        <div data-id="2278338" data-view="Number" data-title="Gocardless Connectivity" data-moreinfo="Last 7 days uptime" data-suffix="%"></div>
    </li>
  </ul>
</div>