-# This is a dashboard in itself, so place it in the dashboards/ directory and
-# configure the cycler below
%head
  %meta{charset:"utf-8"}
  %meta{name:"description", content:""}
  %meta{name:"viewport", content:"width=device-width"}
  %meta{:http => {:equiv => "X-UA-Compatible"}, :content => "IE=edge,chrome=1"}

  %title One Membership Dashing
  %script{src: "/assets/application.js", type: "text/javascript"}
  %link{rel: "stylesheet", href: "/assets/application.css"}
  %script{src: "/assets/cycler.js", type: "text/javascript"}

  %link{rel: "stylesheet", href: "//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700", type: "text/css"}
  %link{rel: "icon", href: "/assets/favicon.ico"}
  :css
    [data-col="6"] { left:1655px;}  [data-col="5"] { left:1325px;}  [data-col="4"] { left:995px;}  [data-col="3"] { left:665px;}  [data-col="2"] { left:335px;}  [data-col="1"] { left:5px;}  [data-row="16"] { top:4955px;}  [data-row="15"] { top:4625px;}  [data-row="14"] { top:4295px;}  [data-row="13"] { top:3965px;}  [data-row="12"] { top:3635px;}  [data-row="11"] { top:3305px;}  [data-row="10"] { top:2975px;}  [data-row="9"] { top:2645px;}  [data-row="8"] { top:2315px;}  [data-row="7"] { top:1985px;}  [data-row="6"] { top:1655px;}  [data-row="5"] { top:1325px;}  [data-row="4"] { top:995px;}  [data-row="3"] { top:665px;}  [data-row="2"] { top:335px;}  [data-row="1"] { top:5px;}  [data-sizey="1"] { height:320px;} [data-sizey="2"] { height:650px;} [data-sizey="3"] { height:980px;} [data-sizey="4"] { height:1310px;} [data-sizey="5"] { height:1640px;} [data-sizey="6"] { height:1970px;} [data-sizey="7"] { height:2300px;} [data-sizey="8"] { height:2630px;} [data-sizey="9"] { height:2960px;} [data-sizey="10"] { height:3290px;} [data-sizey="11"] { height:3620px;} [data-sizey="12"] { height:3950px;} [data-sizey="13"] { height:4280px;} [data-sizey="14"] { height:4610px;} [data-sizey="15"] { height:4940px;} [data-sizex="1"] { width:320px;} [data-sizex="2"] { width:650px;} [data-sizex="3"] { width:980px;} [data-sizex="4"] { width:1310px;} [data-sizex="5"] { width:1640px;} [data-sizex="6"] { width:1970px;}


%body
  #overlay
  #overlay-content.gridster

  #container
  :javascript
    new Cycler({
      // Board paths to cycle through
      boards: ['platinum', 'gold'],
      // How long to stay on each board, in seconds
      duration: 15,
      // By default, we only load the current board and the next one, to improve
      // performance. By setting this to true, all boards can be loaded at once
      loadAll: true,
      width: 1920,
      height: 1080
    });

  #alerts{:data => {:id => "alerts", :view => "Alert"}}
    %marquee.tab.blink{:behavior => "scroll", :direction => "left", :scrollamount => "15"}

  :javascript
    $(function(){

        var failureOverlay = $('#overlay');
        var failureOverlayContent = $('#overlay-content');
        var alertsDiv = $('#alerts');

        var alertAudio = document.getElementById('audio');
        var fixedAudio = document.getElementById('green');

        $.fn.getFailingMonitors = function(){
          var container = $('#container');
          return container.find( "div.status-unavailable" );
        };

        $.fn.getPassingMonitors = function(){
          return $( "div.status-available" );
        };

        $.fn.showScrollingAlert = function(){
          alertsDiv.css('display', 'inline-block');
        };

        $.fn.hideScrollingAlert = function(){
          alertsDiv.css('display', 'none');
        };

        $.fn.showFailureDashboard = function(){
          if (alertAudio.paused) {
            alertAudio.play();
          }
          failureOverlay.css('display', 'inline-block');
          failureOverlayContent.css('display', 'inline-block');
        };

        $.fn.hideFailureDashboard = function(){
          alertAudio.pause();
          fixedAudio.play();
          failureOverlayContent.empty();
          failureOverlay.css('display', 'none');
          failureOverlayContent.css('display', 'none');
        };

        window.setInterval(function(){
          var alertsMarquee = alertsDiv.find('marquee');
          if(alertsMarquee.children().length > 0){ // If there are failing monitors on the alerts widget
            $.fn.showScrollingAlert();
            $.fn.showFailureDashboard();
          } else {
            if(failureOverlay.is(':visible') && alertsDiv.is(':visible')) { // Only hide alerts when they are visible
              $.fn.hideScrollingAlert();
              $.fn.hideFailureDashboard();
            }
          }
        }, 3000);
    });

  %audio#audio{ :autostart => '0'}
    %source{:src => "/alert.mp3",  :type => "audio/mpeg"}
  %audio#green{ :autostart => '0'}
    %source{:src => "/green.mp3", :type => "audio/mpeg"}