<% content_for :title do %>One Membership Dashboard - Silver<% end %>
<script type="text/javascript">
    $(function() {
        Dashing.widget_base_dimensions = [260, 260]
        Dashing.widget_margins = [1, 1]

    });
</script>
<div id="tier" class="silver">SILVER TIER</div>
<div class="gridster">
    <ul>
        <h4>Health Checks</h4>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://dam-bridge-euwest1-prod.apps.memb.ft.com:8443/__health', '_blank');">
            <div data-id="dam-bridge-eu" data-title="dam-bridge-eu" data-view="Onemembership" data-moreinfo="dam-bridge-euwest1-prod.apps.memb.ft.com" data-tier="Silver"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('https://dam-bridge-useast1-prod.apps.memb.ft.com:8443/__health', '_blank');">
            <div data-id="dam-bridge-us" data-title="dam-bridge-us" data-view="Onemembership" data-moreinfo="dam-bridge-useast1-prod.apps.memb.ft.com" data-tier="Silver"></div>
        </li>
        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps32821-law1a-eu-p:8443/__health', '_blank');">
            <div data-id="b2b-fulfil-svc-app1-eu" data-title="b2b-fulfil-svc-app1-eu" data-view="Onemembership" data-moreinfo="ftaps32821-law1a-eu-p" data-tier="Silver"></div>
        </li>
        <li data-row="1" data-col="4" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps63568-lae1c-us-p:8443/__health', '_blank');">
            <div data-id="b2b-fulfil-svc-app1-us" data-title="b2b-fulfil-svc-app1-us" data-view="Onemembership" data-moreinfo="ftaps63568-lae1c-us-p" data-tier="Silver"></div>
        </li>
        <li data-row="1" data-col="5" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps42261-law1a-eu-p:8443/__health', '_blank');">
            <div data-id="b2c-fulfil-svc-app1-eu" data-title="b2c-fulfil-svc-app1-eu" data-view="Onemembership" data-moreinfo="ftaps42261-law1a-eu-p" data-tier="Silver"></div>
        </li>
        <li data-row="1" data-col="6" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps42263-law1b-eu-p:8443/__health', '_blank');">
            <div data-id="b2c-fulfil-svc-app2-eu" data-title="b2c-fulfil-svc-app2-eu" data-view="Onemembership" data-moreinfo="ftaps42263-law1b-eu-p" data-tier="Silver"></div>
        </li>
        <li data-row="1" data-col="7" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps42558-lae1c-us-p:8443/__health', '_blank');">
            <div data-id="b2c-fulfil-svc-app2-us" data-title="b2c-fulfil-svc-app2-us" data-view="Onemembership" data-moreinfo="ftaps42558-lae1c-us-p" data-tier="Silver"></div>
        </li>
        <li data-row="2" data-col="1" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps42559-lae1a-us-p:8443/__health', '_blank');">
            <div data-id="b2c-fulfil-svc-app1-us" data-title="b2c-fulfil-svc-app1-us" data-view="Onemembership" data-moreinfo="ftaps42559-lae1a-us-p" data-tier="Silver"></div>
        </li>
        <li data-row="2" data-col="2" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps64081-law1a-eu-p:8443/__health', '_blank');">
            <div data-id="sf-offers-bridge-app1-eu" data-title="sf-offers-bridge-app1-eu" data-view="Onemembership" data-moreinfo="ftaps64081-law1a-eu-p" data-tier="Silver"></div>
        </li>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1" onclick="window.open('https://ftaps64080-law1a-eu-p:8443/__health', '_blank');">
            <div data-id="sf-offers-bridge-app2-eu" data-title="sf-offers-bridge-app2-eu" data-view="Onemembership" data-moreinfo="ftaps64080-law1a-eu-p" data-tier="Silver"></div>
        </li>
    </ul>
</div>

