// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 0.7);

// ----------------------------------------------------------------------------
// Widget-text styles
// ----------------------------------------------------------------------------
.widget-availability {

  background-color: grey;

  .title {
    color: $title-color;
  }

  .more-info {
    color: $moreinfo-color;
    font-size: 12px;
  }

  .capability-name {
    font-style: normal;
    font-size: 15px;
  }

  .updated-at {
    color: rgba(255, 255, 255, 0.7);
  }

  &.large h3 {
    font-size: 65px;
  }
}

.status-available {
  background-color: green;
}

.status-unavailable {
  background-color: red;
}
